quitpassword = "password"
nickservpassword = "nickservpassword"

irc_connections = [{
                        "host": "irc.freenode.net",
                        "port": 6667,
                        "channel": "#stlouis-games"
                        "identity": "cwah"
                        "realname": "bot against humanity"
                        "hostname": "nada"
                        "botname": "cwah"
                    }]
